<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <p>
      Recipe Name: <%= @recipe.name %>
    </p>
    <p>
      Recipe Ingredients: <%= @recipe.ingredients %>
    </p>
    <p>
      Recipe Cook Time: <%= @recipe.cook_time %>
    </p>

    <form action="/recipes/<%= @recipe.id%>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
